<tr>
 <td><%=car_detail.car_model%></td>
  <td><%=car_detail.color%></td>
  <td><%=car_detail.car_details.last.servicing_date%></td>
  <td><%=car_detail.car_details.last.repair_part%></td>
  <td><%= link_to 'Show', car_path(car_detail), class: 'btn btn-primary' %></td>
</tr>