Hello <%= @customer.full_name %>,

<p>We would like to inform you that your car model: <%= @car.car_model %> is due for next servicing<p>

<p> Car details:</p>
<pre>
  Model: <%= @car.car_model %>
  Color: <%= @car.color %>
  Last Servicing Date: <%= @date %>
</pre>

--
Thanks